version: '3.8'

services:
  db:
    image: postgres:15
    container_name: task-manager-db
    restart: always
    environment:
      POSTGRES_USER: user_admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: task_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: task-manager-api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: user_admin
      DB_PASSWORD: password123
      DB_NAME: task_db
    depends_on:
      - db

volumes:
  postgres_data: